
//
// VARIABLES
//

// Colors
$blue: #3E69DC;
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;
$green: #2ecc71;
$darkgreen: #27ae60;
$purple: #9b59b6;
$red: #e74c3c;
$grey: #95a5a6;


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Raleway&display=swap');
// Font stacks
$lato: 'Lato', sans-serif;
$montserrat: 'Montserrat', Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}